<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" >
    <!--<script src="/static/js/api.js"></script>-->

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/bootstrap.min.js"  ></script>
    <div class="container">
    <div>
        <form action="{{ url_for('.add') }}" method="post">
            <input type="text" name="name" placeholder="输入 task">
            <button>Add</button>
        </form>
    </div>




  <div  class="table-responsive-sm">
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"   colspan="8">
        <button class="btn btn-sm btn-info " onClick="location.href='{{ url_for('.index') }}'">
             {{weeks[0][:7]}}
            </button>
       </th>
      {% for w in weeks %}
      <td scope="col" >{{w[8:]}}</td>
       {% endfor %}
    </tr>
  </thead>
  <tbody>

  {% for tl in task_list %}
    <tr>
       <th scope="row"  colspan="8">

            <button class="btn  btn-sm btn-info  " onClick="location.href='{{ url_for('.go', id=tl.id) }}'">
             {{tl.name}} +
            </button>


       </th>


        {% for sl in status_lists[tl.id] %}
          <td  >{{ sl }}</td>
        {% endfor %}
    </tr>



  {% endfor %}

  </tbody>
</table>

      <button type="button" class="btn btn-primary">Primary</button>

</div>



    </div>
  </body>
</html>