<!DOCTYPE html>
<html>

<head>
  <title>MOBAN</title>
  <link href="/static/css/login_style.css" rel='stylesheet' type='text/css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

  <h1> </h1>

  <div class="app-location">
    <h2>{{msg}}</h2>
    <div class="line"><span></span></div>
    <div class="location"><img src="/static/img/location.png" class="img-responsive" alt="" /></div>

  </div>
</body>

</html>
